# dependencies
/node_modules
/static
/public
package.json
package-lock.json
rebuild.bat
gitpush.bat
puzzle.html
.env
/index.html
!/build/index.html
/termslist.html
!/build/termslist.html
/termsquiz.html
!/build/termsquiz.html
