<!------------------------------------------------------------------------------
// ITMD-504 - Programming and Application Foundations
// Final Project - IT Terms - Glossary Page
// Richard Paddock (A20603128)
// ----------------------------------------------------------------------------
// File: client/termslist.html
// Descripton: Provides the full glossary of terms from the API server using vue.js for listing and filtering; Bootstrap for UI
// ---------------------------------------------------------------------------->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IT Terms Glossary</title>
    
    <!-- Link to latest vue.js UMD version  -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.16"></script>

    <!-- Link to CSS & Bootstrap Files -->
    <link href="/static/css/termslist.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">

</head>
<body>
    <!-- Show our standard header -->
    <div class="header row d-flex align-items-center">
        <div class="col text-start"><h1>IT Terms <span class="head-span">Glossary</span></h1></div>
        <div class="col text-start">
        <a class="d-block" href="index.html">&gt; Landing Page</a>
        <a class="d-block" href="adminapp.html">&gt; Admin Console</a>
        <a class="d-block" href="termsquiz.html">&gt; Quiz</a>
        </div>
    </div>

    <!-- Section for the Category and Name Filter -->
    <div id="app">
        <div class="searchbox">
        <div class="container ms-2">
            <div class="form-inline mb-3">
                <label class="filter">&nbsp;Filters:
                    <select id="categorySelect" class="form-control mr-2" v-model="selectedCategory">
                        <option value="">All Categories</option>
                        <option v-for="category in categories" :key="category.id" :value="category.name">
                            {{ category.name }}
                        </option>
                    </select>
                </label>
                <label class="mr-2">
                    <input type="text" id="nameSearch" class="form-control" placeholder="Filter by Name" v-model="searchText">
                </label>
            </div>
        </div>

            <!-- Results section - In a bootstrap scroll box -->
            <div class="mainbox">
                <div class="row">
                    <div class="col">
                        <div class="p-4 border bg-light">

                            <!-- Now uses Vue to insert the queried data list, filtered by the  -->
            
                            <p v-if="filteredData.length === 0">No Results</p>
                            <template v-for="(item, index) in filteredData">
                                <h2 v-if="index === 0 || item.catname !== filteredData[index - 1].catname">{{ item.catname }}
                                    <div class="border-bottom my-3"></div></h2>
                                <h3>{{ item.termname }}</h3>
                                <p>{{ item.definition }}</p>
                            </template>
                        </div>
                    </div>
            </div>
        </div>
        <div> 
    </div>

<!-- This section is a Vue script to query terms and filter the results, and to query the categories for the drop-down selector -->
<script>
    new Vue({
        el: '#app',                                         // Bind this to our #app section in the html
        data: {
            data: [],                                       // Main data for the table
            categories: [],                                 // Data for the category dropdown
            selectedCategory: '',                           // Selected dropdown value
            searchText: ''                                  // Text from the search box
        },
        computed: {
            filteredData() {
                return this.data.filter(item => {

                    // This part calculates the filter by the selected category
                    const matchesCategory = this.selectedCategory
                        ? item.catname === this.selectedCategory
                        : true;

                    // And now by the filter name search
                    const matchesSearch = this.searchText
                        ? item.termname.toLowerCase().includes(this.searchText.toLowerCase())
                        : true;

                    return matchesCategory && matchesSearch;
                });
            }
        },
        created() {
            // Fetch data for the table from our public terms API
            // fetch('http://localhost:3000/public-api/terms')
            fetch('https://rpadd.duckdns.org/public-api/terms')
                .then(response => response.json())
                .then(json => {
                    this.data = json.data;
                })
                .catch(error => console.error('Error fetching terms:', error));


            // Fetch data for the dropdown categories from our public categories API
            // fetch('http://localhost:3000/public-api/categories')
            fetch('https://rpadd.duckdns.org/public-api/categories')
                .then(response => response.json())
                .then(json => {
                    this.categories = json.data;
                })
                .catch(error => console.error('Error fetching categories:', error));
        }
    });
</script>
</body>
</html>
